@import "./text-helper.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root,
.App {
  height: 99%;
  font-family: "Merriweather", serif, Georgia, serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.Main {
  flex: 1 1 auto;
}
/* установим отступ 1rem от нижнего края элемента */
.text-field {
  margin-bottom: 1rem;
}
/* стили для label */
.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}
