p, input {
  margin: 0;
  padding:  0;
}

hr{
  margin: 0 0 0.5rem 0;
}

input {
  font-family: inherit; 
  width:100%;
  border: none;
  outline: none;
}

input:not([type="range"]),
textarea,
select {
  transition: 0.4s all ease;
  &:focus {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    padding-left: 0.4rem;
  }
}