.defaultStyles {
  font-size: 1rem;
}
.isPrimary {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.isSecondary {
  color: rgb(153, 150, 150);
  margin-bottom: 0.5rem;
}
.inline_block{
  display: inline-block;
}

.desc_icon_pencil {
  opacity: 0 !important;
  width: 20px;
  margin: 0 -10px 0 3px ;
}
p:hover .desc_icon_pencil {
  opacity: 1 !important;
}

